<div class="wrapper bgded overlay" style="background-image:url('assets/images/aa.jpg');">
  <article class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">
      <h6 class="nospace">Metus augue porttitor sed</h6>
      <p class="nospace">Lectus vitae rutrum auctor lectus pellentesque id pulvinar velit at porta leo</p>
    </div>
    <footer class="one_quarter"><a class="btn medium" href="#">More Information &raquo;</a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
