
<div class="center btmspace-80">
    
     
  <hr class="btmspace-80">
      <h1 align="center">Curabitur ac metus consequat</h1>
    <p align="center">Rhoncus donec faucibus sit amet est ac porttitor integer aliquet dolor eros ac pretium odio</p>
     
    </div>
   
<ul class="nospace group cta">
  
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-gamepad"></i></a>
          <h6 class="heading">Nam at magna est</h6>
          <p>Sed sodales mauris et egestas auctor neque ligula rhoncus enim id bibendum arcu massa phasellus&hellip;</p>
        
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-location-arrow"></i></a>
          <h6 class="heading">Urna lectus praesent</h6>
          <p>Pulvinar faucibus quam nec lacinia ut tincidunt nisi in euismod consequat donec ut ante tincidunt&hellip;</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-subway"></i></a>
          <h6 class="heading">Tempor lorem aliquet</h6>
          <p>Leo cras tempus odio in suscipit tempus dolor dolor consequat diam sit amet ullamcorper est enim eu&hellip;</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
    </ul>
    
