
      <img src="assets/images/demo/gallery/happy.png"  style="width:480px;height:400px;margin-right:15px;">
      <div class="one_half">
        <p class="nospace font-xs">Suscipit viverra luctus sit</p>
        <h3 class="heading">Amet diam nunc venenatis lacus</h3>
        <p>Accumsan vestibulum nulla imperdiet dolor ut tempus ultricies nam sed posuere mi id molestie tortor quisque suscipit convallis ex in interdum tortor vestibulum ac phasellus.</p>
        <blockquote>Viverra id felis a lacinia sed metus orci gravida non neque ut elementum facilisis est cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus quisque mollis nulla in quam</blockquote>
        <p>Porttitor lacinia pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <footer><a href="#">Read More &raquo;</a></footer>
      </div>
    
